.section4 {
    background-color: #eeeeee;
}
.howToStart h5 {
    color: rgb(255, 92, 92);
}
.howToStart h1 {
    font-size: 50px;
}
.sec4-btm {
    background-color: white;
    border-radius: 10px;
}